body {
    font-family: calibri, sans-serif;
    margin: 20px;
    background-color: #625858;
}
h1 {
    color: #625858;
}
div {
    margin: 10px ;
}
input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
}
button {
    background-color: black;
    color: white;
    padding: 11px 25px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.underlinedWord {
    text-decoration: underline;
    display: inline-block;
    margin-right: 16px;
}
#words {
    margin-top: 60px;
    padding: 25px;
    background-color: #840707;
    min-height: 10px;
}
#count {
    margin-top: 15px;
    font-weight: bold;
}